# 유형 1

In [239]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
display(df.head(5))

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20317 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          19690 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20406 non-null  float64
 8   median_house_value  20596 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [241]:
"""
1-1
결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라.
그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라
"""

df2 = df.copy()
df2 = df2.dropna(axis=0)
lidx = int((len(df2) * 0.7))
target = df2.iloc[:lidx].reset_index(drop=True)
result = round(target.median_income.describe()["25%"], 2)
result = target.median_income.quantile(0.25).round(2)
print(result)

2.51

In [242]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()
display(df.head())

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

In [243]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Country Code  11507 non-null  object
 2   Year          11507 non-null  int64
 3   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB

None

In [244]:
"""
1-2
1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라
"""

mean_1990 = df[df.Year == 1990].Value.mean()
mean_2010 = df[df.Year == 2010].Value.mean()

target_1990 = df[(df.Year == 1990) & (df.Value <= mean_1990)]
target_2010 = df[(df.Year == 2010) & (df.Value >= mean_2010)]

result = set(target_1990['Country Code']) & set(target_2010['Country Code'])
cnt = len(result)

print(cnt)

5

In [245]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
display(df.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       836 non-null    float64
 3   Name         830 non-null    object
 4   Sex          827 non-null    object
 5   Age          847 non-null    float64
 6   SibSp        836 non-null    float64
 7   Parch        838 non-null    float64
 8   Ticket       857 non-null    object
 9   Fare         822 non-null    float64
 10  Cabin        833 non-null    object
 11  Embarked     842 non-null    object
dtypes: float64(5), int64(2), object(5)
memory usage: 83.7+ KB

In [247]:
"""
1-3

데이터에서 결측치가 가장 많은 컬럼을 출력하라
"""

df.isna().sum().to_frame("cnt").sort_values("cnt", ascending=False).index[0]

'Fare'

# 타입 2유형

In [248]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
vad = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')

In [249]:
display(train)

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes,1
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes,1
2,86,32,Government Sector,Yes,900000,4,0,No,No,0
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes,1
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes,1
...,...,...,...,...,...,...,...,...,...,...
1485,584,29,Private Sector/Self Employed,Yes,900000,5,0,No,No,0
1486,353,31,Government Sector,No,300000,3,0,No,No,0
1487,1124,29,Private Sector/Self Employed,Yes,1100000,5,0,Yes,No,0
1488,1356,30,Private Sector/Self Employed,No,550000,3,0,Yes,Yes,0
1489,1686,28,Private Sector/Self Employed,Yes,800000,6,0,No,Yes,0

In [250]:
display(vad)

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,6,31,Government Sector,Yes,1300000,4,0,No,No
1,9,33,Government Sector,Yes,800000,3,0,Yes,No
2,20,28,Private Sector/Self Employed,Yes,1150000,6,0,Yes,No
3,21,29,Private Sector/Self Employed,Yes,350000,3,0,No,No
4,23,28,Government Sector,Yes,600000,9,0,No,No
...,...,...,...,...,...,...,...,...,...
492,1964,28,Government Sector,Yes,1100000,4,0,No,No
493,1970,29,Private Sector/Self Employed,Yes,500000,4,0,No,No
494,1973,31,Private Sector/Self Employed,Yes,1350000,3,0,No,Yes
495,1976,32,Government Sector,Yes,900000,6,0,No,No
496,1982,33,Private Sector/Self Employed,Yes,1500000,4,0,Yes,Yes

In [251]:
y = train["TravelInsurance"]
drop_columns = ["ID", "TravelInsurance"]
train_drop = train.drop(columns=drop_columns)
train_dummies = pd.get_dummies(train_drop)

vad_drop = vad.drop(columns=["ID"])
vad_dummies = pd.get_dummies(vad_drop)

In [252]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(train_dummies, y,stratify=y, random_state=1)

In [253]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train_input)

train_ss_input = train_input #ss.transform(train_input)
test_ss_input = test_input   #ss.transform(test_input)
vad_ss_input = vad_dummies   ##ss.transform(vad_dummies)

In [254]:
from sklearn.preprocessing import StandardScaler

In [255]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state =14)
rf.fit(train_ss_input, train_target)

train_score = rf.score(train_ss_input, train_target)
print(train_score)

test_score = rf.score(test_ss_input, test_target)
print(test_score)

#print(help(rf))
"""
종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표 : auc
제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.
"""

0.9221128021486124
0.8042895442359249

'\n종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표 : auc\n제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.\n'

In [256]:
train_predict = rf.predict_proba(train_ss_input)
test_predict  = rf.predict_proba(test_ss_input)



#print(train_predict)
#print(test_predict)

from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

#print(accuracy_score(train_predict, train_target))
#print(accuracy_score(test_predict, test_target))

import numpy as np

print(roc_auc_score(train_target, train_predict[:,1]))
print(roc_auc_score(test_target, test_predict[:,1]))

result = rf.predict_proba(vad_ss_input)

#print(result[:,1])

##display(train_predict)
##display(test_predict)
d = pd.DataFrame({'ID': vad.ID, 'proba': result[:,1]})
display(d.head())
d.to_csv("./22222.csv", index=False)

0.9818564309726658
0.8268327067669172

   ID     proba
0   6  0.014286
1   9  0.410000
2  20  0.067333
3  21  0.208167
4  23  0.050000

In [257]:
from sklearn.metrics import mean_squared_error

help(mean_squared_error)

Help on function mean_squared_error in module sklearn.metrics._regression:

mean_squared_error(y_true, y_pred, *, sample_weight=None, multioutput='uniform_average', squared=True)
    Mean squared error regression loss.

    Read more in the :ref:`User Guide <mean_squared_error>`.

    Parameters
    ----------
    y_true : array-like of shape (n_samples,) or (n_samples, n_outputs)
        Ground truth (correct) target values.

    y_pred : array-like of shape (n_samples,) or (n_samples, n_outputs)
        Estimated target values.

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    multioutput : {'raw_values', 'uniform_average'} or array-like of shape             (n_outputs,), default='uniform_average'
        Defines aggregating of multiple output values.
        Array-like value defines weights used to average errors.

        'raw_values' :
            Returns a full set of errors in case of multioutput input.

        'uniform_average' :
            Errors of all outputs are averaged with uniform weight.

    squared : bool, default=True
        If True returns MSE value, if False returns RMSE value.

    Returns
    -------
    loss : float or ndarray of floats
        A non-negative floating point value (the best value is 0.0), or an
        array of floating point values, one for each individual target.

    Examples
    --------
    >>> from sklearn.metrics import mean_squared_error
    >>> y_true = [3, -0.5, 2, 7]
    >>> y_pred = [2.5, 0.0, 2, 8]
    >>> mean_squared_error(y_true, y_pred)
    0.375
    >>> y_true = [3, -0.5, 2, 7]
    >>> y_pred = [2.5, 0.0, 2, 8]
    >>> mean_squared_error(y_true, y_pred, squared=False)
    0.612...
    >>> y_true = [[0.5, 1],[-1, 1],[7, -6]]
    >>> y_pred = [[0, 2],[-1, 2],[8, -5]]
    >>> mean_squared_error(y_true, y_pred)
    0.708...
    >>> mean_squared_error(y_true, y_pred, squared=False)
    0.822...
    >>> mean_squared_error(y_true, y_pred, multioutput='raw_values')
    array([0.41666667, 1.        ])
    >>> mean_squared_error(y_true, y_pred, multioutput=[0.3, 0.7])
    0.825...