# 1유형

In [116]:
import pandas as pd

In [117]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
display(df.head(5))

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        762 non-null    object
 1   시군구명       762 non-null    object
 2   종량제봉투종류    762 non-null    object
 3   종량제봉투처리방식  762 non-null    object
 4   종량제봉투용도    762 non-null    object
 5   종량제봉투사용대상  762 non-null    object
 6   1L가격       762 non-null    int64
 7   1.5L가격     762 non-null    int64
 8   2L가격       762 non-null    int64
 9   2.5L가격     762 non-null    int64
 10  3L가격       762 non-null    int64
 11  5L가격       762 non-null    int64
 12  10L가격      762 non-null    int64
 13  20L가격      762 non-null    int64
 14  30L가격      762 non-null    int64
 15  50L가격      762 non-null    int64
 16  60L가격      762 non-null    int64
 17  75L가격      762 non-null    int64
 18  100L가격     762 non-null    int64
 19  120L가격     762 non-null    int64
 20  125L가격     762 non-null    int64
 21  관리부서명      762 non-null    object
 22  관리부서전화번호   762 non-null    object
 23  데이터기준일자    762 non-null    object
 24  제공기관코드     762 non-null    object
 25  제공기관명      762 non-null    object
dtypes: int64(15), object(11)
memory usage: 154.9+ KB

In [119]:
"""
1-1

20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후,
각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자.
시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라
"""

target = df.loc[(df['20L가격'] != 0) & (df['5L가격'] != 0)]
target['차이가격'] = target.loc[:, '20L가격'] - target.loc[:,'5L가격']
group = target.groupby('시도명')['차이가격'].mean().sort_values().to_frame().tail(3)
result = group['차이가격'].max().round(1)
display(group)
print(result)

/var/folders/ks/g557dmv54qsd_xmq2wm8fhhm0000gn/T/ipykernel_44123/3029270884.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target['차이가격'] = target.loc[:, '20L가격'] - target.loc[:,'5L가격']

          차이가격
시도명
제주특별자치도  580.0
부산광역시    593.0
인천광역시    619.0

619.0

In [120]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
display(df.head(5))

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10000 non-null  object
 1   height(cm)  10000 non-null  float64
 2   weight(kg)  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [122]:
"""
1-2

BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다.
초고도 비만은 BMI 25이상 ,
고도 비반은 BMI 25미만 - 23이상 ,
정상은 23미만 - 18.5이상
저체중은 18.5미만으로 정의 된다.

주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?
"""

def getBMI(x):
    bmi = x['weight(kg)'] / ((x['height(cm)'] / 100) ** 2)

    if bmi >= 25:
        return '초고도 비만'
    elif bmi >= 23:
        return '고도 비만'
    elif bmi >= 18.5:
        return '정상'
    else:
        return '저체중'

df['BMI'] = df[['weight(kg)', 'height(cm)']].apply(getBMI, axis=1)
display(df)

count_a = len(df.loc[df['BMI'] == '초고도 비만'])
count_b = len(df.loc[df['BMI'] == '저체중'])

print(count_a + count_b)

              ID  height(cm)  weight(kg)     BMI
0         user_1       173.0        67.5      정상
1         user_2       149.5        82.5  초고도 비만
2         user_3       143.8        64.6  초고도 비만
3         user_4       163.1        87.2  초고도 비만
4         user_5       159.6        77.1  초고도 비만
...          ...         ...         ...     ...
9995   user_9996       144.0        74.4  초고도 비만
9996   user_9997       161.1        84.1  초고도 비만
9997   user_9998       137.1        68.9  초고도 비만
9998   user_9999       187.5        89.2  초고도 비만
9999  user_10000       172.3        77.5  초고도 비만

[10000 rows x 4 columns]

8998

In [123]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
display(df.head(5))

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역          250 non-null    object
 1   초등학교_전출_도내  250 non-null    int64
 2   초등학교_전출_도외  250 non-null    int64
 3   초등학교_전입_도내  250 non-null    int64
 4   초등학교_전입_도외  250 non-null    int64
 5   중학교_전출_도내   250 non-null    int64
 6   중학교_전출_도외   250 non-null    int64
 7   중학교_전입_도내   250 non-null    int64
 8   중학교_전입_도외   250 non-null    int64
 9   고등학교_전출_도내  250 non-null    int64
 10  고등학교_전출_도외  250 non-null    int64
 11  고등학교_전입_도내  250 non-null    int64
 12  고등학교_전입_도외  250 non-null    int64
 13  년도          250 non-null    int64
dtypes: int64(13), object(1)
memory usage: 27.5+ KB

In [125]:
"""
1-3

순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다.
각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라
"""

df['순유입인원'] = df[[x for x in df.columns if '전입' in x]].sum(axis=1) -df[[x for x in df.columns if '전출' in x ]].sum(axis=1)

result = df.groupby('년도')['순유입인원'].max().sum().sum()
print(result)

13853

In [126]:
import pandas as pd
data       = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
validation = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

In [127]:
display(data.info())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9823 non-null   int64
 1   model         9823 non-null   object
 2   year          9823 non-null   int64
 3   price         9823 non-null   int64
 4   transmission  9823 non-null   object
 5   mileage       9823 non-null   int64
 6   fuelType      9823 non-null   object
 7   tax           9823 non-null   int64
 8   mpg           9823 non-null   float64
 9   engineSize    9823 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 767.5+ KB

None

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0
2,1790,A Class,2013,8500,Manual,69031,Petrol,125,51.4,1.6
3,10018,B Class,2015,13998,Automatic,34739,Diesel,125,56.5,2.1
4,142,E Class,2017,20998,Semi-Auto,21352,Diesel,20,72.4,2.0

In [128]:
display(validation.info())
display(validation.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3296 entries, 0 to 3295
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3296 non-null   int64
 1   model         3296 non-null   object
 2   year          3296 non-null   int64
 3   transmission  3296 non-null   object
 4   mileage       3296 non-null   int64
 5   fuelType      3296 non-null   object
 6   tax           3296 non-null   int64
 7   mpg           3296 non-null   float64
 8   engineSize    3296 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 231.9+ KB

None

   ID       model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0         SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2    SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5
2  14   GLA Class  2016    Automatic    41713   Diesel  125  56.6         2.1
3  15     B Class  2017    Automatic    24841   Diesel  150  68.9         1.5
4  18     B Class  2017    Automatic    14128   Diesel  150  68.9         2.1

In [129]:
y = data['price']
data_drop = data.drop(columns=["ID", 'price'])
validation_drop = validation.drop(columns=["ID"])


#display(data_drop.head())
#display(validation_drop.head())

data_dummies = pd.get_dummies(data_drop)
validation_dummies = pd.get_dummies(validation_drop).reindex(columns=data_dummies.columns, fill_value=0)


display(data_dummies)

display(validation_dummies)
print(data_dummies.shape)
print(validation_dummies.shape)

,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,model_ CLA Class,...,model_200,model_230,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2012,46000,30,64.2,2.1,True,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
1,2020,19,150,36.7,2.0,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,True
2,2013,69031,125,51.4,1.6,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
3,2015,34739,125,56.5,2.1,False,True,False,False,False,...,False,False,True,False,False,False,True,False,False,False
4,2017,21352,20,72.4,2.0,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9818,2016,25317,570,24.1,6.0,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
9819,2016,34903,20,68.9,2.1,False,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
9820,2015,86890,20,64.2,2.1,True,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
9821,2016,27958,0,80.7,1.5,True,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
9822,2015,31878,20,65.7,2.1,False,False,True,False,False,...,False,False,False,False,False,True,True,False,False,False

,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,model_ CLA Class,...,model_200,model_230,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2005,63000,325,32.1,1.8,False,False,False,False,False,...,0,0,True,False,0,False,False,False,0,True
1,2016,6200,555,28.0,5.5,False,False,False,False,False,...,0,0,True,False,0,False,False,False,0,True
2,2016,41713,125,56.6,2.1,False,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3,2017,24841,150,68.9,1.5,False,True,False,False,False,...,0,0,True,False,0,False,True,False,0,False
4,2017,14128,150,68.9,2.1,False,True,False,False,False,...,0,0,True,False,0,False,True,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,2016,27804,260,42.8,3.0,False,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3292,2019,10635,145,44.1,1.5,False,False,True,False,False,...,0,0,True,False,0,False,False,False,0,True
3293,2016,14000,125,56.5,2.1,False,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3294,2017,20477,145,68.9,2.1,True,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3295,2019,5000,145,61.4,2.0,False,False,True,False,False,...,0,0,True,False,0,False,True,False,0,False

(9823, 39)
(3296, 39)

In [130]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(data_dummies, y)

In [131]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(train_input, train_target)

print(rf.score(train_input, train_target))
print(rf.score(test_input, test_target))

0.9924210685699623
0.9491780241173656

In [137]:
from sklearn.metrics import mean_squared_error

train_predict = rf.predict(train_input)
test_predict  = rf.predict(test_input)
display(validation_dummies)
validation_predict = rf.predict(validation_dummies)

print(mean_squared_error(train_predict, train_target, squared=False))
print(mean_squared_error(test_predict,  test_target, squared=False))

df = pd.DataFrame()
df['ID'] = validation['ID']
df['price'] = validation_predict

display(df)
df.to_csv("./5555.csv", index=False)

,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,model_ CLA Class,...,model_200,model_230,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2005,63000,325,32.1,1.8,False,False,False,False,False,...,0,0,True,False,0,False,False,False,0,True
1,2016,6200,555,28.0,5.5,False,False,False,False,False,...,0,0,True,False,0,False,False,False,0,True
2,2016,41713,125,56.6,2.1,False,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3,2017,24841,150,68.9,1.5,False,True,False,False,False,...,0,0,True,False,0,False,True,False,0,False
4,2017,14128,150,68.9,2.1,False,True,False,False,False,...,0,0,True,False,0,False,True,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,2016,27804,260,42.8,3.0,False,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3292,2019,10635,145,44.1,1.5,False,False,True,False,False,...,0,0,True,False,0,False,False,False,0,True
3293,2016,14000,125,56.5,2.1,False,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3294,2017,20477,145,68.9,2.1,True,False,False,False,False,...,0,0,True,False,0,False,True,False,0,False
3295,2019,5000,145,61.4,2.0,False,False,True,False,False,...,0,0,True,False,0,False,True,False,0,False

1023.9435265079792
2729.199923378885

         ID     price
0         0   4399.15
1         2  62621.30
2        14  17240.50
3        15  14686.32
4        18  16960.14
...     ...       ...
3291  13096  27404.19
3292  13098  24038.51
3293  13101  23874.65
3294  13109  17012.95
3295  13112  29176.94

[3296 rows x 2 columns]