# 1유형

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
display(df.head(5))

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        762 non-null    object
 1   시군구명       762 non-null    object
 2   종량제봉투종류    762 non-null    object
 3   종량제봉투처리방식  762 non-null    object
 4   종량제봉투용도    762 non-null    object
 5   종량제봉투사용대상  762 non-null    object
 6   1L가격       762 non-null    int64
 7   1.5L가격     762 non-null    int64
 8   2L가격       762 non-null    int64
 9   2.5L가격     762 non-null    int64
 10  3L가격       762 non-null    int64
 11  5L가격       762 non-null    int64
 12  10L가격      762 non-null    int64
 13  20L가격      762 non-null    int64
 14  30L가격      762 non-null    int64
 15  50L가격      762 non-null    int64
 16  60L가격      762 non-null    int64
 17  75L가격      762 non-null    int64
 18  100L가격     762 non-null    int64
 19  120L가격     762 non-null    int64
 20  125L가격     762 non-null    int64
 21  관리부서명      762 non-null    object
 22  관리부서전화번호   762 non-null    object
 23  데이터기준일자    762 non-null    object
 24  제공기관코드     762 non-null    object
 25  제공기관명      762 non-null    object
dtypes: int64(15), object(11)
memory usage: 154.9+ KB

In [73]:
"""
1-1

20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후,
각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자.
시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라
"""

target = df.loc[(df['20L가격'] != 0) & (df['5L가격'] != 0)]
target['차이가격'] = target.loc[:, '20L가격'] - target.loc[:,'5L가격']
group = target.groupby('시도명')['차이가격'].mean().sort_values().to_frame().tail(3)
result = group['차이가격'].max().round(1)
display(group)
print(result)

/var/folders/ks/g557dmv54qsd_xmq2wm8fhhm0000gn/T/ipykernel_40979/3029270884.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target['차이가격'] = target.loc[:, '20L가격'] - target.loc[:,'5L가격']

          차이가격
시도명
제주특별자치도  580.0
부산광역시    593.0
인천광역시    619.0

619.0

In [74]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
display(df.head(5))

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10000 non-null  object
 1   height(cm)  10000 non-null  float64
 2   weight(kg)  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [88]:
"""
1-2

BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다.
초고도 비만은 BMI 25이상 ,
고도 비반은 BMI 25미만 - 23이상 ,
정상은 23미만 - 18.5이상
저체중은 18.5미만으로 정의 된다.

주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?
"""

def getBMI(x):
    bmi = x['weight(kg)'] / ((x['height(cm)'] / 100) ** 2)

    if bmi >= 25:
        return '초고도 비만'
    elif bmi >= 23:
        return '고도 비만'
    elif bmi >= 18.5:
        return '정상'
    else:
        return '저체중'

df['BMI'] = df[['weight(kg)', 'height(cm)']].apply(getBMI, axis=1)
display(df)

count_a = len(df.loc[df['BMI'] == '초고도 비만'])
count_b = len(df.loc[df['BMI'] == '저체중'])

print(count_a + count_b)

              ID  height(cm)  weight(kg)     BMI
0         user_1       173.0        67.5      정상
1         user_2       149.5        82.5  초고도 비만
2         user_3       143.8        64.6  초고도 비만
3         user_4       163.1        87.2  초고도 비만
4         user_5       159.6        77.1  초고도 비만
...          ...         ...         ...     ...
9995   user_9996       144.0        74.4  초고도 비만
9996   user_9997       161.1        84.1  초고도 비만
9997   user_9998       137.1        68.9  초고도 비만
9998   user_9999       187.5        89.2  초고도 비만
9999  user_10000       172.3        77.5  초고도 비만

[10000 rows x 4 columns]

8998

In [89]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
display(df.head(5))

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역          250 non-null    object
 1   초등학교_전출_도내  250 non-null    int64
 2   초등학교_전출_도외  250 non-null    int64
 3   초등학교_전입_도내  250 non-null    int64
 4   초등학교_전입_도외  250 non-null    int64
 5   중학교_전출_도내   250 non-null    int64
 6   중학교_전출_도외   250 non-null    int64
 7   중학교_전입_도내   250 non-null    int64
 8   중학교_전입_도외   250 non-null    int64
 9   고등학교_전출_도내  250 non-null    int64
 10  고등학교_전출_도외  250 non-null    int64
 11  고등학교_전입_도내  250 non-null    int64
 12  고등학교_전입_도외  250 non-null    int64
 13  년도          250 non-null    int64
dtypes: int64(13), object(1)
memory usage: 27.5+ KB

In [91]:
"""
1-3

순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다.
각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라
"""

df['순유입인원'] = df[[x for x in df.columns if '전입' in x]].sum(axis=1) -df[[x for x in df.columns if '전출' in x ]].sum(axis=1)

result = df.groupby('년도')['순유입인원'].max().sum().sum()
print(result)

13853