https://www.datamanim.com/dataset/practice/q1.html

작업 1유형
Attention

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

In [73]:
import pandas as pd

In [74]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv")
display(df.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12870 entries, 0 to 12869
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         12870 non-null  int64
 1   age        12870 non-null  int64
 2   job        12870 non-null  object
 3   marital    12870 non-null  object
 4   education  12870 non-null  object
 5   default    12870 non-null  object
 6   balance    12870 non-null  int64
 7   housing    12870 non-null  object
 8   loan       12870 non-null  object
 9   contact    12870 non-null  object
 10  day        12870 non-null  int64
 11  month      12870 non-null  object
 12  campaign   12870 non-null  int64
 13  pdays      12870 non-null  int64
 14  previous   12870 non-null  int64
 15  poutcome   12870 non-null  object
 16  y          12870 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.7+ MB

In [76]:
"""
Question1

마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)
"""
df['age2'] = df['age'] // 10 * 10
#display(df)
ans = df['age2'].value_counts().sort_values(ascending=False).index[0]
display(int(ans))

30

In [77]:
"""
Question2

마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?
"""
ans = df['age2'].value_counts().sort_values(ascending=False).values[0]
display(int(ans))

5056

In [78]:
"""
Question3

나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?
"""
ans = len(df.loc[(25 <= df['age']) & (df['age'] < 29) & (df['housing'] == 'yes')])
print(int(ans))

504

In [79]:
"""
Question4

numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?
"""

lst= []
for col in df.select_dtypes(exclude='int'):
    target = df[col]
    lst.append([col,target.nunique()])

dfs  = pd.DataFrame(lst).sort_values(1,ascending=False)
result = dfs[dfs[1] ==dfs[1].max()][0].values
print(result)

['job' 'month']

In [80]:
"""
Question5

balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?
"""
target = df.loc[df['balance'] >= df['balance'].mean()]
target = target.sort_values(by='ID', ascending=False)[:100]
display(target)
print(target['balance'].mean())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y,age2
1295,22866,39,blue-collar,married,primary,no,2288,yes,no,cellular,15,may,1,-1,0,unknown,no,30
1697,22860,23,management,single,tertiary,no,1807,no,no,cellular,27,jul,1,-1,0,unknown,yes,20
4196,22853,36,management,divorced,tertiary,no,5195,yes,no,unknown,2,jun,25,-1,0,unknown,no,30
279,22849,22,student,single,secondary,no,1925,no,no,cellular,4,may,1,-1,0,unknown,no,20
3539,22848,31,blue-collar,married,secondary,no,1766,no,yes,cellular,5,jun,2,-1,0,unknown,yes,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9400,22495,45,blue-collar,divorced,secondary,no,1951,yes,no,cellular,4,feb,1,-1,0,unknown,no,40
7922,22492,38,admin.,married,tertiary,no,1988,no,no,cellular,2,jun,1,67,4,success,yes,30
7153,22491,65,retired,married,primary,no,3629,no,no,cellular,27,apr,1,-1,0,unknown,yes,60
10465,22489,57,admin.,single,secondary,no,5768,yes,no,unknown,19,jun,1,-1,0,unknown,yes,50
10143,22484,46,admin.,married,secondary,no,3098,yes,no,telephone,21,nov,9,-1,0,unknown,no,40

3473.73

In [81]:
"""
Question6

가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)
"""
ans = df[['day', 'month']].value_counts().index[0]
display(ans)

(15, 'may')

In [82]:
"""
Question7

데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라
"""

'\nQuestion7\n\n데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라\n'

In [83]:
"""
Question8

age와 balance의 상관계수를 구하여라
"""

'\nQuestion8\n\nage와 balance의 상관계수를 구하여라\n'

In [84]:
"""
Question9

y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라
"""

'\nQuestion9\n\ny 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라\n'

In [85]:
"""
Question10

각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?
"""

'\nQuestion10\n\n각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?\n'

작업 2유형
Attention

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv
test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv
submission : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv

In [86]:
import pandas as pd

data       = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv")
validation = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv")

display(data.head())
display(validation.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

In [87]:
y = data['y']

In [88]:
data_drop       = data.drop(columns=['ID', 'y'])
validation_drop = validation.drop(columns=['ID'])[data_drop.columns]
display(data_drop)
display(validation_drop)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown
1,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown
2,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown
3,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown
4,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure
12866,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure
12867,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure
12868,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown
12869,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4286,47,admin.,married,secondary,no,520,no,no,telephone,9,feb,6,-1,0,unknown
4287,33,technician,married,secondary,no,133,no,no,cellular,12,nov,2,192,1,success
4288,40,admin.,married,secondary,no,2574,yes,no,cellular,20,nov,1,-1,0,unknown
4289,39,blue-collar,married,secondary,no,2467,no,no,cellular,19,jul,2,276,3,other
4290,46,self-employed,married,primary,no,49,no,no,cellular,27,aug,6,-1,0,unknown

In [89]:
data_dummies       = pd.get_dummies(data_drop)
validation_dummies = pd.get_dummies(validation_drop)
y_dummies = pd.get_dummies(y)

display(data_dummies)
display(validation_dummies)

,age,balance,day,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,29,18254,11,2,-1,0,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
1,26,512,5,3,-1,0,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,30,135,14,2,-1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,41,30,10,1,-1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,27,321,2,1,-1,0,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,47,1167,30,1,87,5,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
12866,31,111,21,2,93,2,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
12867,37,1316,18,1,172,2,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
12868,42,479,28,2,-1,0,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
12869,24,0,16,1,-1,0,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True

,age,balance,day,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,32,12569,1,2,295,2,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,25,801,5,2,-1,0,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,46,1728,26,2,-1,0,False,True,False,False,...,False,False,True,False,False,False,False,False,False,True
3,39,51,17,2,-1,0,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
4,31,1626,31,1,-1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4286,47,520,9,6,-1,0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4287,33,133,12,2,192,1,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
4288,40,2574,20,1,-1,0,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True
4289,39,2467,19,2,276,3,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
4290,46,49,27,6,-1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [90]:
import sklearn.ensemble

dir(sklearn.ensemble)

['AdaBoostClassifier',
 'AdaBoostRegressor',
 'BaggingClassifier',
 'BaggingRegressor',
 'BaseEnsemble',
 'ExtraTreesClassifier',
 'ExtraTreesRegressor',
 'GradientBoostingClassifier',
 'GradientBoostingRegressor',
 'HistGradientBoostingClassifier',
 'HistGradientBoostingRegressor',
 'IsolationForest',
 'RandomForestClassifier',
 'RandomForestRegressor',
 'RandomTreesEmbedding',
 'StackingClassifier',
 'StackingRegressor',
 'VotingClassifier',
 'VotingRegressor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_bagging',
 '_base',
 '_forest',
 '_gb',
 '_gb_losses',
 '_gradient_boosting',
 '_hist_gradient_boosting',
 '_iforest',
 '_stacking',
 '_voting',
 '_weight_boosting']

In [91]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(data_dummies, y, stratify=y, random_state=1)

In [92]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(train_input, train_target)

print(rf.score(train_input, train_target))
print(rf.score(test_input, test_target))

1.0
0.785891858297079

In [93]:
from sklearn.metrics import roc_auc_score

train_pred = rf.predict_proba(train_input)
test_pred  = rf.predict_proba(test_input)
val_pred   = rf.predict_proba(validation_dummies)

print(roc_auc_score(train_target, train_pred[:,1]))
print(roc_auc_score(test_target, test_pred[:,1]))

result = pd.DataFrame()
result['ID'] = validation['ID']
result['predict'] = val_pred[:,1]

display(result)

1.0
0.7779418637509782

         ID  predict
0     53608     0.88
1     51055     0.80
2     52573     0.01
3     50458     0.23
4     52272     0.25
...     ...      ...
4286  50332     0.15
4287  51293     0.89
4288  54023     0.11
4289  53775     0.62
4290  51945     0.03

[4291 rows x 2 columns]