In [1]:
import pandas as pd

In [3]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
print(df.head())

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   1295 non-null   object
 1   Goals    1295 non-null   int64
 2   Years    1295 non-null   object
 3   Country  1295 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.6+ KB

In [ ]:
"""
Question 21

주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라
"""

In [36]:
ans = df.groupby('Country').sum().sort_values('Goals', ascending=False).head(5)

display(ans['Goals'])

Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115
Name: Goals, dtype: int64

In [ ]:
"""
Question 23

Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라
"""

In [59]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False

    return True

df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check == False])
print(result)

45

In [ ]:
"""
**Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다) **
"""

In [73]:
df2 = df[df.check].copy().reset_index(drop=True)
len(df2)

1250

In [78]:
"""
Question 25

월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라
"""

df2['LenCup'] = df2['yearLst'].map(lambda x : len(x))

print(len(df2[df2.LenCup >= 4]))

16

In [80]:
df2['LenCup'] =df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
print(result)

16

In [ ]:
"""
Question 26

Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라
"""

In [83]:
ans = df2.loc[(df2.LenCup == 2) & (df2.Country == 'Yugoslavia')]
print(len(ans))

7

In [89]:
"""
Question 27

2002년도에 출전한 전체 선수는 몇명인가?
"""

ans = df2.loc[df2.Years.str.contains('2002')]
print(len(ans))

156

In [99]:
"""
Question 28

이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)
"""

ans = df2.loc[df2.Player.str.contains('carlos', case=False)]
print(len(ans))

13

In [104]:
"""
Question 29

월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?
"""

ans = df2.loc[df2.LenCup == 1].sort_values('Goals', ascending=False).iloc[0].Player

print(ans)

Just Fontaine

In [114]:
"""
Question 30

월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?
"""

ans = df2.loc[df2.LenCup==1]['Country'].value_counts().index[0]

print(ans)

Brazil