In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')

In [76]:
display(df)

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여일자    678950 non-null  object
 1   대여시간    678950 non-null  int64
 2   대여소번호   678950 non-null  int64
 3   대여구분코드  678950 non-null  object
 4   성별      678950 non-null  object
 5   연령대코드   678950 non-null  object
 6   이용건수    678950 non-null  int64
 7   운동량     678950 non-null  object
 8   탄소량     678950 non-null  object
 9   이동거리    678950 non-null  float64
 10  사용시간    678950 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 57.0+ MB

In [47]:
"""
Question 31

대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라
"""

result = df['대여일자'].value_counts().sort_index().to_frame()
ans = result[result['count'] == result['count'].max()].index[0]
display(ans)

'2021-06-04'

In [53]:
"""
Question 32

각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라
"""

df['day_name'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['day_name'].dt.day_name()

ans = df['day_name'].value_counts().to_frame()
print(ans)

            count
day_name
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

In [75]:
"""
Question 33

각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라
"""


ans = df.groupby(['day_name', '대여소번호']).size().to_frame('size').sort_values(['day_name', 'size'], ascending=False).reset_index()
ans = ans.drop_duplicates('day_name', keep='first').reset_index(drop=True)

print(ans)

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [91]:
"""
Question 34

나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라
"""

daily = df[df['대여구분코드'] != '정기권']['연령대코드'].value_counts().sort_index()
total = df['연령대코드'].value_counts().sort_index()

ratio = (daily/total).sort_values(ascending=False)


display(daily)
display(total)
display(ratio)

print(ratio.index[0])

연령대코드
20대     60167
30대     31585
40대     13794
50대      4772
60대       849
70대~      169
~10대    12021
Name: count, dtype: int64

연령대코드
20대     247561
30대     186722
40대     114799
50대      70428
60대      19288
70대~      3227
~10대     36925
Name: count, dtype: int64

연령대코드
~10대    0.325552
20대     0.243039
30대     0.169155
40대     0.120158
50대     0.067757
70대~    0.052371
60대     0.044017
Name: count, dtype: float64

~10대

In [99]:
# 연령대별 평균 이동거리를 구하여라

ans = df.groupby('연령대코드')['이동거리'].mean()
ans = df[['연령대코드','이동거리']].groupby(['연령대코드']).mean()

display(ans)

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

In [142]:
"""
Question 36

연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라
"""

target = df[df.연령대코드 == '20대'].reset_index(drop=True)
target = target[target['이동거리'] >= target.이동거리.mean()]
target = target.sort_values(['대여일자', '대여소번호'], ascending=False)
target = target.iloc[:200].reset_index(drop=True)
ans = target['탄소량'].astype(float)
ans = round(ans.sum() / len(ans), 3)
print(ans)

tw = df[df.연령대코드 =='20대'].reset_index(drop=True)
tw_mean = tw[tw.이동거리 >= tw.이동거리.mean()].reset_index(drop=True)
tw_mean['탄소량'] =tw_mean['탄소량'].astype('float')
target =tw_mean.sort_values(['대여일자','대여소번호'], ascending=False).reset_index(drop=True).iloc[:200].탄소량
result = round(target.sum()/len(target),3)
print(result)

1.613
1.613

In [147]:
"""
Question 37

6월 7일 ~10대의 “이용건수”의 중앙값은?
"""

target = df[df.연령대코드 == "~10대"]
target = target[target.대여일자 == '2021-06-07']

display(target.describe())

print(target.이용건수.median())

              대여시간        대여소번호         이용건수          이동거리         사용시간
count  2641.000000  2641.000000  2641.000000   2641.000000  2641.000000
mean     15.587278  1707.502083     1.086331   2337.196770    21.176070
std       5.983441  1165.811401     0.343950   2720.808371    27.246192
min       0.000000   102.000000     1.000000      0.000000     1.000000
25%      13.000000   785.000000     1.000000    820.000000     7.000000
50%      17.000000  1372.000000     1.000000   1510.000000    12.000000
75%      20.000000  2372.000000     1.000000   2805.140000    26.000000
max      23.000000  4856.000000     5.000000  27081.610000   517.000000

1.0

In [206]:
"""
Question 38

평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라
"""

target = df.copy()
target.대여일자 = pd.to_datetime(target.대여일자)
target = target[target.대여일자.dt.weekday < 5]
target = target[target.대여시간.isin([6, 7, 8])]
target = target[["대여시간", "대여소번호"]].value_counts().to_frame('이용 횟수').sort_values(['대여시간', '이용 횟수'], ascending=False)


display(target.groupby('대여시간').head(3))

            이용 횟수
대여시간 대여소번호
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     3214      36

In [220]:
"""
Question 39

이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라
"""
mean = df['이동거리'].mean()
target = df[df['이동거리'] >= mean]

print(target['이동거리'].std())

5092.139707505356

In [227]:
"""
Question 40

남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라
"""

df['sex'] = df.성별.map(lambda x : "남" if x.lower() == 'm' else '여')

print(df.groupby(['sex'])['이동거리'].mean().to_frame())

            이동거리
sex
남    3209.110871
여    3468.575025