In [82]:
import pandas as pd

In [83]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)

In [84]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [86]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [87]:
# quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라
df[df['quantity'] == 3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [88]:
df.loc[df['quantity']==3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [89]:
# quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라

In [90]:
df.loc[df['quantity']==3].reset_index(drop=True).head()

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

In [91]:
# quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라
print(df[["quantity", "item_price"]].copy())

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [92]:
# item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라

In [93]:
df["new_price"] = df["item_price"].str[1:].astype(float)
print(df)
print(df.info())

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                   NaN     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                   NaN     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   new_price           4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB
None

In [94]:
# new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라
print(df.loc[df['new_price'] <= 5].shape[0])
print(len(df.loc[df['new_price'] <= 5]))

1652
1652

In [95]:
# item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하여라
af = df.loc[df['item_name'] == 'Chicken Salad Bowl']
print(len(af))
print(af.reset_index(drop=True))

110
     order_id  quantity           item_name  \
0          20         1  Chicken Salad Bowl
1          60         2  Chicken Salad Bowl
2          94         2  Chicken Salad Bowl
3         111         1  Chicken Salad Bowl
4         137         2  Chicken Salad Bowl
..        ...       ...                 ...
105      1813         2  Chicken Salad Bowl
106      1822         1  Chicken Salad Bowl
107      1834         1  Chicken Salad Bowl
108      1834         1  Chicken Salad Bowl
109      1834         1  Chicken Salad Bowl

                                    choice_description item_price  new_price
0    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
1    [Tomatillo Green Chili Salsa, [Sour Cream, Che...    $22.50       22.50
2    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $22.50       22.50
3    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
4              [Fresh Tomato Salsa, Fajita Vegetables]    $17.50       17.50
..                                                 ...        ...        ...
105  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $17.50       17.50
106  [Fresh Tomato Salsa, [Black Beans, Cheese, Gua...    $11.25       11.25
107  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
108  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
109  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[110 rows x 6 columns]

In [96]:
# new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라
af = df.loc[(df['item_name'] == 'Chicken Salad Bowl') & (df['new_price'] <= 9)]
print(len(af))
print(af.head())

56
     order_id  quantity           item_name  \
44         20         1  Chicken Salad Bowl
256       111         1  Chicken Salad Bowl
526       220         1  Chicken Salad Bowl
528       221         1  Chicken Salad Bowl
529       221         1  Chicken Salad Bowl

                                    choice_description item_price  new_price
44   [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
256  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
526  [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
528  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
529  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75

In [97]:
# df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라
print(df.sort_values("new_price", ascending=True).reset_index(drop=True).head())

   order_id  quantity      item_name choice_description item_price  new_price
0       471         1  Bottled Water                NaN     $1.09        1.09
1       338         1    Canned Soda        [Coca Cola]     $1.09        1.09
2      1575         1    Canned Soda       [Dr. Pepper]     $1.09        1.09
3        47         1    Canned Soda       [Dr. Pepper]     $1.09        1.09
4      1014         1    Canned Soda        [Coca Cola]     $1.09        1.09

In [98]:
#df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라
df.loc[df['item_name'].str.contains("Chips")]

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45
...,...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,NaN,$4.45,4.45
4600,1827,1,Chips and Guacamole,NaN,$4.45,4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45,4.45
4613,1831,1,Chips,NaN,$2.15,2.15
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45

In [99]:
# df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라
print(df.loc[:,::2])

      order_id                              item_name item_price
0            1           Chips and Fresh Tomato Salsa     $2.39
1            1                                   Izze     $3.39
2            1                       Nantucket Nectar     $3.39
3            1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2                           Chicken Bowl    $16.98
...        ...                                    ...        ...
4617      1833                          Steak Burrito    $11.75
4618      1833                          Steak Burrito    $11.75
4619      1834                     Chicken Salad Bowl    $11.25
4620      1834                     Chicken Salad Bowl     $8.75
4621      1834                     Chicken Salad Bowl     $8.75

[4622 rows x 3 columns]

In [100]:
# df의 new_price 컬럼 값에 따라 내림차순으로 정리하고 index를 초기화 하여라

Ans = df.sort_values("new_price", ascending=False).reset_index(drop=True)
print(Ans.head())

   order_id  quantity                     item_name  \
0      1443        15  Chips and Fresh Tomato Salsa
1      1398         3                 Carnitas Bowl
2       511         4               Chicken Burrito
3      1443         4               Chicken Burrito
4      1443         3                Veggie Burrito

                                  choice_description item_price  new_price
0                                                NaN    $44.25       44.25
1  [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
2  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
3  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75

In [101]:
# df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하라
Ans = df[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl') ]
print(Ans)

      order_id  quantity    item_name  \
445        193         3         Bowl
664        276         1  Steak Salad
673        279         1         Bowl
752        311         1  Steak Salad
893        369         1  Steak Salad
3502      1406         1  Steak Salad

                                     choice_description item_price  new_price
445   [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
752   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
893   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...     $8.99        8.99
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69

In [102]:
# df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 첫번째 케이스만 남겨라

Ans = df[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl') ]
Ans = Ans.drop_duplicates("item_name")
print(Ans)

     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99

In [103]:
# df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남겨라

Ans = df[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl') ]
Ans = Ans.drop_duplicates("item_name", keep='last')
print(Ans)
#help(Ans.drop_duplicates)

      order_id  quantity    item_name  \
673        279         1         Bowl
3502      1406         1  Steak Salad

                                     choice_description item_price  new_price
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69

In [104]:
# df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하라

Ans = df[df["new_price"] > df["new_price"].mean()]
print(Ans)

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
8            4         1    Steak Soft Tacos
9            5         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[2890 rows x 6 columns]

In [105]:
# df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라
dfc = df.copy()
dfc.loc[dfc['item_name'] == 'Izze', 'item_name'] = 'Fizzy Lizzy'

print(dfc.loc[dfc['item_name'] == 'Fizzy Lizzy'].shape)
print(dfc.head())

(20, 6)
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                            Fizzy Lizzy
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price  new_price
0                                                NaN     $2.39        2.39
1                                       [Clementine]     $3.39        3.39
2                                            [Apple]     $3.39        3.39
3                                                NaN     $2.39        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98

In [106]:
# df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하여라
print(df['choice_description'].isnull().sum())

1246

In [107]:
# df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라(loc 이용)
#df.loc[df['choice_description'].isnull(), 'choice_description'] = 'NoData'
df['choice_description'] = df['choice_description'].fillna('NoData')
print(df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]

In [108]:
# df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 인덱싱하라
Ans = df.loc[df.choice_description.str.contains("Black")]
print(Ans)

      order_id  quantity             item_name  \
4            2         2          Chicken Bowl
7            4         1         Steak Burrito
9            5         1         Steak Burrito
11           6         1  Chicken Crispy Tacos
12           6         1    Chicken Soft Tacos
...        ...       ...                   ...
4604      1828         1          Chicken Bowl
4608      1829         1        Veggie Burrito
4611      1830         1        Veggie Burrito
4612      1831         1         Carnitas Bowl
4617      1833         1         Steak Burrito

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75        8.75
...                                                 ...        ...        ...
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25       11.25
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25        9.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75

[1353 rows x 6 columns]

In [109]:
# df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수를 출력하라
Ans = df.loc[df['choice_description'].str.contains('Vegetables') == False]
print(len(Ans))

3900

In [110]:
# df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라
Ans = df.loc[df['item_name'].str[0] == 'N']
Ans = df.loc[df['item_name'].str.startswith('N')]
print(Ans)

      order_id  quantity         item_name         choice_description  \
2            1         1  Nantucket Nectar                    [Apple]
22          11         1  Nantucket Nectar       [Pomegranate Cherry]
105         46         1  Nantucket Nectar  [Pineapple Orange Banana]
173         77         1  Nantucket Nectar                    [Apple]
205         91         1  Nantucket Nectar             [Peach Orange]
436        189         1  Nantucket Nectar       [Pomegranate Cherry]
601        247         2  Nantucket Nectar  [Pineapple Orange Banana]
925        381         1  Nantucket Nectar       [Pomegranate Cherry]
1356       553         1  Nantucket Nectar       [Pomegranate Cherry]
1585       641         1  Nantucket Nectar             [Peach Orange]
1626       656         1  Nantucket Nectar  [Pineapple Orange Banana]
1706       690         1  Nantucket Nectar                    [Apple]
2162       872         1  Nantucket Nectar  [Pineapple Orange Banana]
2379       947         2  Nantucket Nectar             [Peach Orange]
2381       947         1  Nantucket Nectar                    [Apple]
2430       965         1  Nantucket Nectar       [Pomegranate Cherry]
2653      1053         1  Nantucket Nectar  [Pineapple Orange Banana]
2818      1118         1  Nantucket Nectar                    [Apple]
2838      1128         1  Nantucket Nectar             [Peach Orange]
2853      1133         1  Nantucket Nectar                    [Apple]
2949      1172         1  Nantucket Nectar             [Peach Orange]
3318      1330         1  Nantucket Nectar             [Peach Orange]
3368      1351         1  Nantucket Nectar  [Pineapple Orange Banana]
3570      1433         1  Nantucket Nectar  [Pineapple Orange Banana]
3845      1541         1  Nantucket Nectar             [Peach Orange]
4019      1609         1  Nantucket Nectar  [Pineapple Orange Banana]
4078      1632         1  Nantucket Nectar             [Peach Orange]

     item_price  new_price
2        $3.39        3.39
22       $3.39        3.39
105      $3.39        3.39
173      $3.39        3.39
205      $3.39        3.39
436      $3.39        3.39
601      $6.78        6.78
925      $3.39        3.39
1356     $3.39        3.39
1585     $3.39        3.39
1626     $3.39        3.39
1706     $3.39        3.39
2162     $3.39        3.39
2379     $6.78        6.78
2381     $3.39        3.39
2430     $3.39        3.39
2653     $3.39        3.39
2818     $3.39        3.39
2838     $3.39        3.39
2853     $3.39        3.39
2949     $3.39        3.39
3318     $3.39        3.39
3368     $3.39        3.39
3570     $3.39        3.39
3845     $3.39        3.39
4019     $3.39        3.39
4078     $3.39        3.39

In [111]:
# df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라

Ans = df.loc[df['item_name'].str.len() >= 15]
print(Ans)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
8            4         1                       Steak Soft Tacos
10           5         1                    Chips and Guacamole
...        ...       ...                                    ...
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
10                                               NoData     $4.45        4.45
...                                                 ...        ...        ...
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75        8.75
4616                                             NoData     $4.45        4.45
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[2373 rows x 6 columns]

In [112]:
# df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라 lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
Ans = df.loc[df['new_price'].isin(lst)]
print(len(Ans))

1393