In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv',index_col=0)
ans = df.shape

In [6]:
ans

(10127, 18)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10127 entries, 0 to 10126
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
dtypes: float64(3), int64(9), object(6)
memory usage: 1.5+ MB

In [13]:
# Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라

dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'
}
df["newIncome"] = df["Income_Category"].map(lambda x: dic[x])
print(df)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0      768805383  Existing Customer            45      M                3
1      818770008  Existing Customer            49      F                5
2      713982108  Existing Customer            51      M                3
3      769911858  Existing Customer            40      F                4
4      709106358  Existing Customer            40      M                3
...          ...                ...           ...    ...              ...
10122  772366833  Existing Customer            50      M                2
10123  710638233  Attrited Customer            41      M                2
10124  716506083  Attrited Customer            44      F                1
10125  717406983  Attrited Customer            30      M                2
10126  714337233  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
0         High School        Married     $60K - $80K          Blue
1            Graduate         Single  Less than $40K          Blue
2            Graduate        Married    $80K - $120K          Blue
3         High School        Unknown  Less than $40K          Blue
4          Uneducated        Married     $60K - $80K          Blue
...               ...            ...             ...           ...
10122        Graduate         Single     $40K - $60K          Blue
10123         Unknown       Divorced     $40K - $60K          Blue
10124     High School        Married  Less than $40K          Blue
10125        Graduate        Unknown     $40K - $60K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  Total_Relationship_Count  Months_Inactive_12_mon  \
0                  39                         5                       1
1                  44                         6                       1
2                  36                         4                       1
3                  34                         3                       4
4                  21                         5                       1
...               ...                       ...                     ...
10122              40                         3                       2
10123              25                         4                       2
10124              36                         5                       3
10125              36                         4                       3
10126              25                         6                       2

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
0                          3       12691.0                  777
1                          2        8256.0                  864
2                          0        3418.0                    0
3                          1        3313.0                 2517
4                          0        4716.0                    0
...                      ...           ...                  ...
10122                      3        4003.0                 1851
10123                      3        4277.0                 2186
10124                      4        5409.0                    0
10125                      3        5281.0                    0
10126                      4       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt newIncome
0              11914.0                 1.335             1144         c
1               7392.0                 1.541             1291         a
2               3418.0                 2.594             1887         d
3                796.0                 1.405             1171         a
4               4716.0                 2.175              816         c
...                ...                   ...              ...       ...
10122           2152.0                 0.703            15476         b
10123           2091.0                 0.804             8764         b
10124           5409.0                 0.819            10291         a
10125           5281.0                 0.535             8395         b
10126           8427.0                 0.703            10294         a

[10127 rows x 19 columns]

In [15]:
# Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라

def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':
        return 'b'
    elif x =='$60K - $80K':
        return 'c'
    elif x =='$80K - $120K':
        return 'd'
    elif x =='$120K +' :
        return 'e'

df["newIncome"] = df["Income_Category"].apply(changeCategory)
print(df)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0      768805383  Existing Customer            45      M                3
1      818770008  Existing Customer            49      F                5
2      713982108  Existing Customer            51      M                3
3      769911858  Existing Customer            40      F                4
4      709106358  Existing Customer            40      M                3
...          ...                ...           ...    ...              ...
10122  772366833  Existing Customer            50      M                2
10123  710638233  Attrited Customer            41      M                2
10124  716506083  Attrited Customer            44      F                1
10125  717406983  Attrited Customer            30      M                2
10126  714337233  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
0         High School        Married     $60K - $80K          Blue
1            Graduate         Single  Less than $40K          Blue
2            Graduate        Married    $80K - $120K          Blue
3         High School        Unknown  Less than $40K          Blue
4          Uneducated        Married     $60K - $80K          Blue
...               ...            ...             ...           ...
10122        Graduate         Single     $40K - $60K          Blue
10123         Unknown       Divorced     $40K - $60K          Blue
10124     High School        Married  Less than $40K          Blue
10125        Graduate        Unknown     $40K - $60K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  Total_Relationship_Count  Months_Inactive_12_mon  \
0                  39                         5                       1
1                  44                         6                       1
2                  36                         4                       1
3                  34                         3                       4
4                  21                         5                       1
...               ...                       ...                     ...
10122              40                         3                       2
10123              25                         4                       2
10124              36                         5                       3
10125              36                         4                       3
10126              25                         6                       2

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
0                          3       12691.0                  777
1                          2        8256.0                  864
2                          0        3418.0                    0
3                          1        3313.0                 2517
4                          0        4716.0                    0
...                      ...           ...                  ...
10122                      3        4003.0                 1851
10123                      3        4277.0                 2186
10124                      4        5409.0                    0
10125                      3        5281.0                    0
10126                      4       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt newIncome
0              11914.0                 1.335             1144         c
1               7392.0                 1.541             1291         a
2               3418.0                 2.594             1887         d
3                796.0                 1.405             1171         a
4               4716.0                 2.175              816         c
...                ...                   ...              ...       ...
10122           2152.0                 0.703            15476         b
10123           2091.0                 0.804             8764         b
10124           5409.0                 0.819            10291         a
10125           5281.0                 0.535             8395         b
10126           8427.0                 0.703            10294         a

[10127 rows x 19 columns]

In [19]:
# Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라.
# 0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라
df["AgeState"] = df["Customer_Age"].map(lambda x: x // 10 * 10)
ans = df["AgeState"].value_counts().sort_index()

print(ans)

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [26]:
# Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

df["newEduLevel"] = df["Education_Level"].map(lambda x : 1 if 'Graduate' in x else 0 )
ans = df['newEduLevel'].value_counts()

print(ans)

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [29]:
"""
Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라
"""
def check(x):
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
        return 1
    else:
        return 0

df["newState"] = df.apply(check, axis = 1)
ans = df["newState"].value_counts()
print(ans)

newState
0    10120
1        7
Name: count, dtype: int64

In [36]:
a = df['Gender'].unique()
print(a)

['M' 'F']

In [38]:
#Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라

df['Gender'] = df['Gender'].map(lambda x : 'male' if x == 'M' else 'female' if x =='F' else x)
ans = df['Gender'].value_counts()
print(ans)

Gender
female    5358
male      4769
Name: count, dtype: int64